@mixin font($size, $color: false, $line-height: false, $alignment: false)
    @if $size
        font-size: var(#{$size})
    @if $line-height
        line-height: $line-height
    @if $alignment
        text-align: #{$alignment}
    @if $color
        color: var(#{$color})

