doctype html
html(lang="en")
    include ../includes/head.pug

    body 

        include ../components/page-header.pug

        main.main
            .wrapper
                //- Transactions + Action area
                section.bills
                    header.bills-header
                        h2.bills-header-heading Your Bills

                        section.bills-header-actions
                            button#filter.bills-header-actions--filter
                                include ../../assets/icons/icon--filter.svg
                                //- img(src="", alt="Filter Bills")
                            button#openModal.bills-header-actions--add
                                | Add Bills 
                                kbd.hotkey ⌘N
                        
                        //- Open with Filters
                        section.bills-header-filters
                            //- Sort by
                            //- Filter by
                    
                    section.tx-list

                        //- Repeat with Data
                        include ../components/tx-preview.pug
                        //- +txPreview("Wise", "800", "home", "April 27th", "late")
                        //- +txPreview("Bank of America", "12300", "miscellaneous", "April 27th", "paid")
                        //- +txPreview("C6", "6748", "utilities", "April 27th", "due")


                //- Overview Card
                include ../components/overview.pug


        include ../components/add-bills.pug

        
        script(src="/js/moment.min.js") 
        script(src="/js/mask.min.js") 
        script(src="/js/tmp/modal.js") 
        script(src="/js/tmp/bills.js") 
        script(src="/js/tmp/progress.js") 
        script(src="/js/tmp/magic.js") 
