aside.overview
    header.overview-header
        h2.overview-header-heading Overview
        time.overview-header-date April 2022
    
    section.overview-total
        h3.overview-label Total Expenses
        .overview-total-details
            .overview-total-amount R$ 20,000.00
            //- Circle
            .overview-total-percent

    section.overview-spenders
        h3.overview-label Spenders
        .overview-spenders-list
            .overview-spender
                .overview-spender-details
                    figure.overview-spender-profile
                        img.overview-spender-profile-img(src="", alt="Spender Name")
                    h4.overview-spender-name Spender Name
                
                .overview-spender-details.--right-align
                    .overview-spender-amount R$ 5,000.00
                    //- Circle
                    .overview-spender-percent
    
    section.overview-categories 
        h3.overview-label Categories 
        .overview-categories-list
            .overview-category
                .overview-category-details
                    figure.overview-category-profile
                        img.overview-category-profile-img(src="", alt="Category Name")
                    h4.overview-category-name Category Name
                
                .overview-category-details.--right-align
                    .overview-category-amount R$ 5,000.00
                    //- Circle
                    .overview-category-percent