header.header 
    .wrapper
        h1.header-welcome
            span.header-welcome-msg Welcome back! 
            span#today.header-welcome-date Today is April 7th, 2022.
            
        nav.nav-links
            a.nav-link(href="/manifesto", title="Manifesto") Manifesto
            a.nav-link(href="https://github.com/pixelsbyeryc/home-bills", title="Github", target="_blank") Github
            .nav-copyright © 2022