.tx
    display: flex

    width: 100%

    padding: .75rem 0

    &-category
        display: flex
        justify-content: center
        align-items: center

        width: 100%
        max-width: 2.5rem
        height: 2.5rem

        margin-right: .75rem

        border-radius: 50%
        background-color: var(--gray)

        background-size: 1.75rem
        background-position: center
        background-repeat: no-repeat

        &.--home
            background-color: var(--dark-yellow)
            background-image: url('/icons/icon--home.svg')
                
        &.--credit-card
            background-color: var(--dark-blue)
            background-image: url('/icons/icon--credit-card.svg')
        
        &.--utilities
            background-color: var(--dark-green)
            background-image: url('/icons/icon--utilities.svg')
        
        &.--health
            background-color: var(--dark-red)
            background-image: url('/icons/icon--health.svg')
        
        &.--miscellaneous 
            background-color: var(--dark-sky)
            background-image: url('/icons/icon--misc.svg')
    
    &-block
        display: flex
        justify-content: space-between
        align-items: flex-start

        width: 100%

    &-details
        display: flex

        max-width: 70%

        &.--desc
            flex-direction: column
            align-items: flex-start

            padding-top: .05rem

        &.--amount
            justify-content: flex-end
            align-items: center

    &-title,
    &-amount
        @include font("--medium", "--white", 1)
    
    &-date
        margin-top: .25rem

        @include font("--small", "--light-gray", 1)
    
    &-status
        margin-left: .5rem
        padding: .25rem

        @include font("--small")

        border-radius: .25rem
        background-color: var(--gray)

        &.--due
            color: var(--yellow)
            background-color: var(--dark-yellow)
        &.--late
            color: var(--red)
            background-color: var(--dark-red)
        &.--paid
            color: var(--green)
            background-color: var(--dark-green)

        
        
        