doctype html
html(lang="en")
    include includes/head.pug

    body 

        header.header 
            .wrapper
                h1.header-welcome
                    span.header-welcome-msg Welcome back! 
                    span#today.header-welcome-date Today is April 7th, 2022.
                    
                nav.nav-links
                    .nav-link(href="#", title="Title") Link
                    .nav-link(href="#", title="Title") Link
                    .nav-copyright © 2022

        main.main
            .wrapper
                //- Transactions + Action area
                section.bills
                    header.bills-header
                        h2.bills-header-heading Your Bills

                        section.bills-header-actions
                            button#filter.bills-header-actions--filter
                                img(src="", alt="Filter Bills")
                            button#addBills.bills-header-actions--add
                                | Add Bills 
                                kbd.hotkey ⌘N
                        
                        //- Open with Filters
                        section.bills-header-filters
                            //- Sort by
                            //- Filter by
                    
                    section.tx-list

                        //- Repeat with Data
                        article.tx
                            section.tx-block
                                figure.tx-category
                                    img.tx-category-img(src="", alt="TX Image")
                                section.tx-details
                                    h3.tx-title Nubank
                                    time.tx-date(datetime="2022-04-02") April 2nd, 2022
                            section.tx-block
                                section.tx-details.--right-align
                                    .tx-amount R$ 20,000
                                    .tx-status.--paid Paid


                //- Overview Card
                aside.overview
                    header.overview-header
                        h2.overview-header-heading Overview
                        time.overview-header-date April 2022
                    
                    section.overview-total
                        h3.overview-label Total Expenses
                        .overview-total-details
                            .overview-total-amount R$ 20,000.00
                            //- Circle
                            .overview-total-percent

                    section.overview-spenders
                        h3.overview-label Spenders
                        .overview-spenders-list
                            .overview-spender
                                .overview-spender-details
                                    figure.overview-spender-profile
                                        img.overview-spender-profile-img(src="", alt="Spender Name")
                                    h4.overview-spender-name Spender Name
                                
                                .overview-spender-details.--right-align
                                    .overview-spender-amount R$ 5,000.00
                                    //- Circle
                                    .overview-spender-percent
                    
                    section.overview-categories 
                        h3.overview-label Categories 
                        .overview-categories-list
                            .overview-category
                                .overview-category-details
                                    figure.overview-category-profile
                                        img.overview-category-profile-img(src="", alt="Category Name")
                                    h4.overview-category-name Category Name
                                
                                .overview-category-details.--right-align
                                    .overview-category-amount R$ 5,000.00
                                    //- Circle
                                    .overview-category-percent



                        
        
        //- main.main
        //-     h1 Bills

        //-     .main-wrapper
        //-         form#addBills.add-bill
        //-             .input-group
        //-                 input.input-amount(type="number", name="amount", min="1", step="any", placeholder="6,500", required)
        //-             .input-group
        //-                 input.input-name(type="text", name="name", placeholder="Description")
        //-             .input-group
        //-                 select.input-category(name="category")
        //-                     option(value="") Category
        //-                     option(value="home") Home
        //-                     option(value="utility") Utility
        //-                     option(value="creditcard") Credit Card
        //-                     option(value="other") Other
        //-             .input-group
        //-                 input.input-duedate(type="date", name="duedate", min="2022-01-01", max="2023-01-01")
        //-             input.input-submit(type="submit", value="Add Bill")

        //-         #billsList.bills-list
        //-             //- .bill
        //-             //-     .bill-name Bill
        
        script(src="/js/magic.js") 