doctype html
html(lang="en")
    include includes/head.pug

    body 

        include components/page-header.pug

        main.main
            .wrapper
                //- Transactions + Action area
                section.bills
                    header.bills-header
                        h2.bills-header-heading Your Bills

                        section.bills-header-actions
                            button#filter.bills-header-actions--filter
                                img(src="", alt="Filter Bills")
                            button#openModal.bills-header-actions--add
                                | Add Bills 
                                kbd.hotkey ⌘N
                        
                        //- Open with Filters
                        section.bills-header-filters
                            //- Sort by
                            //- Filter by
                    
                    section.tx-list

                        //- Repeat with Data
                        include components/tx-preview.pug
                        include components/tx-preview.pug
                        include components/tx-preview.pug
                        include components/tx-preview.pug
                        include components/tx-preview.pug


                //- Overview Card
                include components/overview.pug


        include components/add-bills.pug

        
        script(src="/js/magic.js") 