doctype html
html(lang="en")
    include includes/head.pug

    body 
        main.main
            h1 Bills

            .main-wrapper
                form#addBills.add-bill
                    .input-group
                        input.input-amount(type="number", name="amount", min="1", step="any", placeholder="6,500", required)
                    .input-group
                        input.input-name(type="text", name="name", placeholder="Description")
                    .input-group
                        select.input-category(name="category")
                            option(value="") Category
                            option(value="home") Home
                            option(value="utility") Utility
                            option(value="creditcard") Credit Card
                            option(value="other") Other
                    .input-group
                        input.input-duedate(type="date", name="duedate", min="2022-01-01", max="2023-01-01")
                    input.input-submit(type="submit", value="Add Bill")

                #billsList.bills-list
                    //- .bill
                    //-     .bill-name Bill
        
        script(src="/js/scripts.js") 