mixin txPreview(desc, amount, category, date, status)
    article.tx
        .tx-category(class="--"+category)
            //- img.tx-category-img(src="", alt="TX Image")

        section.tx-block
            section.tx-details.--desc
                h3.tx-title= desc
                time.tx-date(datetime="2022-04-02")= date
            section.tx-details.--amount
                .tx-amount R$ #{amount}
                .tx-status(class="--"+status)= status