article.tx
    section.tx-block
        figure.tx-category
            img.tx-category-img(src="", alt="TX Image")
        section.tx-details
            h3.tx-title Transaction Name
            time.tx-date(datetime="2022-04-02") April 2nd, 2022
    section.tx-block
        section.tx-details.--right-align
            .tx-amount R$ 20,000
            .tx-status.--paid Paid